$padding: 0.25rem 1rem;
$shadow: 0.06rem 0.1rem 0.08rem rgba(0, 0, 0, 0.6);
$font-weight-normal: 300;
$font-weight-bold: 400;
$border: solid 0.01rem var(--color-3);

:root {
  --color-0: #fff;
  --color-1: #f0f5f9;
  --color-2: #c9d6df;
  --color-3: #52616b;
  --color-4: #1e2022;
}
