body.formats {
  .sidebar {
    display: none;

    .active {
      font-weight: $font-weight-bold;
    }
  }

  @media (min-width: 50rem) {
    .sidebar {
      display: contents;

      >* {
        grid-column: 1 / span 4;
        margin: 0;
      }

      h1 {
        grid-row: 1;
      }

      .sidebar-content {
        position: relative;
        > * {
          margin: 0;
          position: sticky;
          top: 3rem;
        }
      }
    }

    article,
    h1 {
      grid-column: 5 / span 8;
    }
  }
}
