body.setup {
  .setup-table {
    border-collapse: separate;
    border-spacing: 0;
    min-width: 100%;
    th, td {
      white-space: nowrap;
      padding: 0.1rem 0.4rem;
      height: 1.2rem;
      border-top: $border;
      text-align: left;
      &:not(:last-child) {
        border-right: $border;
      }
    }
    th {
      background-color: var(--color-3);
      color: var(--color-1);
      font-weight: $font-weight-normal;
    }
    td {
      background-color: var(--color-0);
      &:first-child {
        background-color: var(--color-1);
      }
    }
    
  }

  h2 {
    margin: 0;
    padding-bottom: 0.25rem;
    margin-bottom: 0.25rem;
    font-size: 1.2rem;
    border-bottom: dotted 0.01rem var(--color-2);
  }

  @media (min-width: 50rem) {
    .default, .scopes, .aliases {
      grid-column: span 4;
    }
    .documentation:not(.no-example):not(.auto_fallbacks),
    .example:not(.auto_fallbacks) {
      grid-column: span 6;
    }
  }
}
